body	{font-family: Arial, Verdana, Garamond;
		Font-size: 12pt}

p		{margin-left: 50pt;
		margin-right: 50pt}
		

a		{text-decoration: none;
		color: black}
		
table	{width: 65%;
		margin-left:auto;
		margin-right:auto}
		
		.menu {text-align: center;
			  width: 60%}
		
		.menuword {width: 16%}
		
		.menuwordselect {width: 23%; font-weight: bolder; font-style: italic}
		
		.menupipe {width: 1%}
		
th		{color: white;
		background-color: blue}
		
caption		{caption-side: bottom;
			font-style: italic}